.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #1d3557;
  padding: 0.5rem 0;
  color: white;
}

.App-header h1 {
  margin: 0;
  font-size: 1.5rem;
}

main {
  flex: 1;
  padding: 1rem;
  background-color: #f1faee;
}

footer {
  padding: 0.5rem 0;
  background-color: #457b9d;
  color: white;
}

footer p {
  margin: 0;
  font-size: 0.8rem;
}
